*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav{
	font-family: 'Secular One', sans-serif;
	background-color: #e3f2fd;
	text-transform: uppercase;
}
h1,h4{
	font-family: 'Libre Baskerville', serif;
}
p{
	font-family: 'Lora', serif;
	background-image: ;
}

