*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
nav, footer{
	font-family: 'Secular One', sans-serif;
	text-transform: uppercase;
}
.navbar-brand{
	font-family: 'Permanent Marker', cursive;
}
h1,h4,h2{
	font-family: 'Permanent Marker', cursive;
}
p{
	font-family: 'Kanit', sans-serif;
}
#background{
	background-image: url(./images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-size: cover;


}
#tools{
	background-image: url(./images/bg3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-size: cover;
}


